/* globals */

*{
    border: 0;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.wrapper_60{
    width: 60%;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    clear:both;
    display: table;
}

.float_left{
    float:left;
}
.color_white{
    color: white;
}

.nav_bar{
    float: left;
    height: 100%;
    width: 150px;
    background-color: black;
    position:fixed;
}

#main_section{
    float:right;
    width: calc(100% - 150px);
    background-color: #141922;
    height: calc(100% - 50px);
}

.upper_nav_bar{
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
}


footer{
    
}

.footer_container{
    height: 100px;
    width: 100%;
    background-color: #282828;
    position:fixed;
    bottom: 0;
}