*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: white;
}

.float_left{
    float: left;
}

.float_right{
    float:right;
}

.inline_block{
    display: inline-block;
}


.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.color_white{
    color: white;
}

._bold{
    font-weight: bold;
}

/* MAIN */
main{
    height: calc(100vh - 90px);
}

/* nav_bar */

.left_nav_bar{
    width: 230px;
    height: 100%;
}


main .left_nav_bar .nav_top{
    height: calc(100% - 80px);
    background: black;
    display: flex;
    flex-direction: column;
}

main .left_nav_bar .nav_top .nav_logo_mobile{
    display: none;
}

main .left_nav_bar .nav_bottom{
    height: 80px;
    padding-left: 20px;
}

.line_nav_bottom{
    margin-top: 10px;
    background: gray;
    width: 90%;
    height: 2px;
}

main .left_nav_bar .nav_bottom span{
    color: gray;
}

main .left_nav_bar .nav_bottom img{
    width: 20px;
    vertical-align: middle;
}

.nav_bottom .profile{
    display: inline-block;
}

main .left_nav_bar .nav_top .nav_logo{
    display:flex;
    flex-direction: column;
}

main .left_nav_bar .nav_logo img{
    width: 80%;
    padding-top: 20px;
}

main .left_nav_bar .nav_logo ul li div{
    width: 30%; 
    display: flex;
}

.logo_menu{
    width: 80%;
    text-align: center;
}

.menu_item{
    padding-top: -20px;
    display: flex;
    align-items: center;
}

.menu_item .menu_img_first{
    width: 25%;
    border-left: 5px solid yellowgreen;
    padding-left: 20px;
}

.menu_item .menu_img{
    padding-left: 20px;
    width: 25%;
}
.menu_text{
    padding-top: 20px;
}

.playlists{
    padding-top: 30px;
}

.playlists .add_playlist{
    padding-left: 20px;
}
.playlists .add_playlist h5{
    font-size: 18px;
    color: white;
}

.plus{
    background-color: gray;
    padding: 10px;
    color: black;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 10px;
}

.nav_top .playlists{
    color: gray;
}

.nav_top .add_playlist span{
    color: gray;
}

.owned_playlists{
    margin-left: 20px;
    margin-top: 20px;
    height: 80%;
}

.owned_playlists ul{
    list-style-type: none;
    height: 60%;
    overflow-y: auto;
}
.owned_playlists ul li{
    margin-top: 15px;
    color: gray;
}

.profile{
    margin-left: 20px;
    margin-top: 10px;
}

.profile img{
    background-color: gray;
    border-radius: 50%;
    margin-right: 10px;
}

/* content */

main .content{
    width: calc(100% - 230px);
    height: 100%;
    background-color: #141922;
}

.top_nav_bar{
    width: 90vw;
    height: 10vh;
}


footer{
    height: 90px;
    background-color: #282828;
}

footer #player{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    color: white;
}

.box_red{
    background-color: red;
}

main .content .call_to_action{
    height: 90px;
    background: rgba(0, 0 , 0, 0.4);
    position:fixed;  /*non vede più la larghezza */
    width: calc(100% - 230px); /* per la altezza usare la viewport e px */
}

main .content .call_to_action{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main .content .call_to_action .upgrade{
    border:1px solid white;
    padding: 20px 20px;
    border-radius: 30px;
}

main .content{
    overflow-y: auto; /*funziona nel momento in cui ho un altezza al contenitore */
} 

.content .covers{
    padding-top: 100px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:stretch;
    overflow-y: auto;
}

.content .covers .upper_nav_bar ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-bottom: 40px;
    flex-wrap: wrap;
}


.content .covers .upper_nav_bar ul li{
    padding-left: 10px;
    color: #76797E;
    font-weight: bold;
    margin-bottom: 20px;
    justify-self: flex-start;
}

.content .covers .upper_nav_bar ul li:first-child{
    border-bottom: 5px solid #ADFF2F;
    padding-bottom: 5px;
}

.covers_row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.album_box{
    width: 200px;
    height: 300px;
    margin-top: 20px;
    text-align:center;
    justify-self: flex-start;
    overflow: auto;
}

.album_box img{
    height: 180px;
}

.album_box h4{
    margin-top: 10px;
}

.album_box p{
    color: gray;
    margin-top: 10px;
    font-size: 13px;
}


footer #player .player_album{
    display: flex;
    justify-content: flex-start;
}

footer #player .player_album div:first-child{
    width: 24%;
    margin-right: 20px;
}

.icons_current_play{
    margin-left: 20px;
}

footer #player .player_album img{
    padding-left: 20px;
    width: 100%;
    display: cover;
    overflow:auto;
}
.player_album{
    width: 30%;
}
.player_controller{
    width: 40%;
}

.player_audio{
    width: 30%;
}

footer #player .player_album .current_play{
    padding-top: 10px;
}


.icons_current_play i{
    padding: 15px 0px 0 10px;
    font-size: 20px;
    color:gray;
}

.player_media ._icons_media{
    text-align:center;
    font-size: 25px;
    width: 100%;
}

.progress_bar{
    display: flex;
    margin-top: 20px;
}

.player_media ._icons_media i{
    padding: 0 1%;
    padding-bottom: 5px;
}

.player_controller .line{
    width: 80%;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
}

#first_time, #second_time{
    font-size: 12px;
}

#first_time{
    margin-right: 10px;
    margin-top: -5px;
}
#second_time{
    margin-left: 10px;
    margin-top: -5px;
}

.player_audio{
    padding-left: 50px;
}

.container_player_audio{
    display: flex;
    padding-left: 10%;
    width: 100%;
}

.player_audio i{
    padding-left: 5%;
    font-size: 1.2rem;
}


.player_audio .line{
    width: 40%;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    margin-top: 5px;
}

.img_bottom_logo_mobile{
    display: none;
}

main .left_nav_bar .nav_top .playlists{
    height: 60%;
    overflow:hidden;
}

main .left_nav_bar .nav_top .playlists .new_playlist{
    height: 80%;
    overflow-y:auto;
}

.photo{
    position:relative;
}

.photo_active{
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(0, 0 , 0, 0.7);
    z-index: 999;
    height: 100%;
    width: 100%;
    visibility: hidden;
}

.photo_active_player{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    visibility: hidden;
}

.photo:hover .photo_active,
.photo:hover .photo_active_player{
    visibility: visible;
}

.upgrade:hover{
    padding: 40px;
}

#player .player_album .img{
    
}

#player .player_album .img img{
    width: 80px;
    margin-right: 40px;
}

/* media queries */
@media (max-width: 650px){
    main .left_nav_bar .nav_top .nav_logo_mobile{
        display: block;
    }

    main .left_nav_bar .nav_top .nav_logo_mobile .img_top_logo_mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main .left_nav_bar .nav_top .nav_logo_mobile .img_top_logo_mobile img{
        margin-bottom: 20px;
    }
    main .left_nav_bar .img_bottom_logo_mobile{
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    main .left_nav_bar .img_bottom_logo_mobile img{
        width: 40%;
    }
    main .left_nav_bar .img_bottom_logo_mobile img:nth-child(2){
        width: 80%;
        background-color: gray;
        border-radius: 50%;
    }

    main .left_nav_bar .nav_top .nav_logo_mobile img{
        width: 70%;
    }

    main .left_nav_bar .nav_top .nav_logo{
        display: none;
    }
    main .left_nav_bar{
        width: 50px;
    }

    main .content{
        width: calc(100% - 50px);
    }


    main .content .call_to_action{
        width: calc(100% - 50px);
    }
    main .nav_bottom{
        display: none;
    }

    main .playlists{
        display: none;
    }

    footer #player .player_album{
        width: calc(100% / 3);
    }

    footer #player .player_controller{
        width: calc(100% / 3);
    }
    footer #player .player_audio{
        width: calc(100% / 3);
    }

    footer #player .player_album .img img{
        width: 80px;
        margin-right: 60px;
    }

    footer .player_controller .player_media ._icons_media{
        font-size: 1rem;
    }

    footer .player_controller .player_media .progress_bar{
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        font-size: 0.5rem;
    }

    footer .player_controller .player_media .progress_bar #first_time{
        margin-right: 10px;
        margin-top:-5px;
    }
    footer .player_controller .player_media .progress_bar #second_time{
        margin-left: 10px;
        margin-top:-5px;
    }
    
    footer .player_audio .container_player_audio i{
        font-size: 0.8rem;
        margin-top: 3px;
    }
}

@media (max-width: 900px){
    .icons_current_play{
        padding-left: 10px;
    }
    
    .icons_current_play i{
        padding:  0x;
        font-size: 20px;
        color:gray;
        display: flex;
    }
    .player_album img{
        flex-shrink: 0;
    }

    footer .player_audio{
        padding-left: 0;
    }

    .current_play{
        width: 20%;
    }

    .icons_current_play i{
        float:none;
    }
    
    footer .player_album{
        
    }

    footer #player .player_album div:first-child{
        width: 40%;

    }
}

